<!DOCTYPE html>
<html>
  <head>
    <title>Intro to Node and MongoDB</title>
  </head>
  <link rel="stylesheet" href="css/index.css" />
  <body>
    <div class="row">
      <div>
        <form method="post" action="/addsongs" class="details-form">
          <h3>Enter Song Details</h3>
          <input
            type="text"
            name="Songname"
            placeholder="Enter Song name"
            required
          />
          <input
            type="text"
            name="Film"
            placeholder="Enter Film name"
            required
          />
          <input
            type="text"
            name="Music_director"
            placeholder="Enter Music Director's name"
            required
          />
          <input
            type="text"
            name="singer"
            placeholder="Enter Singer name"
            required
          />
          <input
            type="text"
            name="actor"
            placeholder="Enter Actor name"
            required
          />
          <input
            type="text"
            name="actress"
            placeholder="Enter Actress name"
            required
          />
          <input type="submit" value="Save" class="btn" />
        </form>
      </div>
    </div>
  </body>
</html>